
@{
    ViewBag.Title = "weather2";
}

<h2>weather2</h2>

<h1>Current Conditions in <span data-bind="text:name"></span></h1>

<h2>Current Temp: <span data-bind="text:main.temp"></span>&deg; F</h2>

<h2>Wind Speed: <span data-bind="text:wind.speed"></span>mph</h2>

@*<input type="button" value="Get Weather" onclick="getMyCurrentWeather();"/>*@
<script>
    var weatherObject = Object();
    $(document).ready( function getMyCurrentWeather(){
            $.get("@Url.Action("GetWeather", "Home")",
                function (response) {
                    console.log(response);
                    weatherObject = ko.mapping.fromJS(response);
                    ko.applyBindings(weatherObject);
                });
    });
</script>
